body{display:grid ;
    
}
.header{display: flex;
justify-content: center;

}
h1{display: flex;
justify-content: center;}

h2{display: flex;
justify-content: center;

;}
.bankAccount{display: grid;
    row-gap: 20px;
    margin-top: 50px;

}
.button{display: flex;
gap:20px;
width: 80px;
border-radius: 10px;
margin: 50px;
}
input{margin-left: 50px;}

