html {
  background-image: url(./grayfon.jpg);
  background-position: center;
  background-size: cover;
}
a {
  color: #000;
  text-decoration: none;
}

.lesson-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  font-size: 25px;
  gap: 10px;
  
}

main {
  padding: 0px 30px;
}
h1 {
  color: rgb(87, 12, 224);
  display: flex;
  justify-content: center;
  margin: 50px;
}

/* стили с псевдокласс hover применятся к элементу при наведении на него мышкой */
/* a:hover {
  text-decoration:none;
  color: rgb(235, 14, 14); 
}*/
.lesson-container div {
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: 2;
  width: auto;
  background-color: #8db7da81; /*  цвет кнопки */
  color: rgb(13, 14, 12);
  border: 1.3px solid;
  box-shadow: 2px 0px 3px 2px;
  border-radius: 7px; /* Закругленные края */
  cursor: pointer;
  transition: background-color 1s, transform 0.8s;
  /* text-shadow: 3px 1px 2px 2px; */
  text-align: center;
align-items: center;
}

/* Эффект при наведении */
.lesson-container div:hover {
  background-color: #6e7d8600; /* цвет кнопки   при наведении */
  transform: scale(1,2); /* Увеличение при наведении */

}

/* Эффект при нажатии */
.lesson-container div:active {
  background-color: #10f336; /* цвет кнопки   при при нажатии */
  transform: scale(0.55);
} /* Уменьшение при нажатии */
