body{background-color:whitesmoke;}
h1{text-align: center;
}
form{width: 80%;
    margin:0 auto;/*1 по вертикали; 2 по горизонтали */
    max-width: 400px;
    padding:20px ;/*все отступы со всех 4 сторон во внутр*/
    
    border: 1px solid #ccc ;
    border-radius: 5px;
    /* Настройка тени:
    1. По Оси X положительное значение- вправо, отрицательное - влево
    2. ПО Оси Y  положительное -вниз, отрицательное -вверх
    3. размытие тени(как быстро сливается с фоном)
    4. Цвет тени */
    box-shadow: 15px 0px 15px rgba(50,0,0,0.5) ;
}